{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">

    <title>{% block titulo %}Mis cuadernos{% endblock titulo %}</title>
</head>
<body style="padding-top: 70px;">
    {% block navbar %}
    <nav class="style-navbar navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'Index' %}">Mis cuadernos</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'Index' %}">Inicio</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if request.path == '/cursos/' %}active{% endif %}" href="{% url 'Cursos' %}">Cursos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if request.path == '/sobremi/' %}active{% endif %}" href="{% url 'SobreMi' %}">Sobre mí</a>
              </li>

              <!-- Dropdown Administrativo -->
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle {% if activo_administrativo %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Administrativo
                  </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'CrearCategoria' %}">Crear Categoría</a></li>
                  <li><a class="dropdown-item" href="{% url 'CrearCurso' %}">Crear Curso</a></li>
                  <li><a class="dropdown-item" href="{% url 'CrearClase' %}">Crear Clase</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/admin/">Admin Django</a></li>
                </ul>
              </li>
              {% endif %}

            </ul>

            <!-- Menú Usuario -->
            <ul class="navbar-nav mb-2 mb-lg-0">
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.profile.avatar %}
                      <img src="{{ user.profile.avatar.url }}" class="tamano_logo me-1" alt="Avatar">
                    {% else %}
                      <img src="{% static 'core/img/avatar_default.png' %}" class="tamano_logo me-1" alt="Avatar">
                    {% endif %}
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
                  <li><a class="dropdown-item" href="{% url 'ver_perfil' %}">Mi Perfil</a></li>
                  <li><a class="dropdown-item" href="{% url 'editar_perfil' %}">Editar Perfil</a></li>
                  <li><a class="dropdown-item" href="{% url 'password_change' %}">Cambiar Contraseña</a></li>

                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                    </form>
                  </li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
              </li>
              {% endif %}
            </ul>
          </div>
      </div>
    </nav>

    {% endblock navbar %}
    
    {% block banner %}
    {% endblock banner %}


    {% block cuerpo %}{% endblock cuerpo %}
    
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
  crossorigin="anonymous"
></script>
</body>
</html>
