{% extends './base.html' %}

{% block titulo %}
    Contenido
{% endblock titulo %}

{% block cuerpo %}
    <div class="container mt-4">
        <h2>Contenidos del Cuaderno</h2>
        <div class="row">
            {% for item in contenidos %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if item.imagen %}
                            <img src="{{ item.imagen.url }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ item.titulo }}</h5>
                            <p class="card-text">{{ item.descripcion|truncatewords:20 }}</p>
                            <a href="{% url 'DetalleContenido' item.id %}" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock cuerpo %}
