{% extends 'core/base.html' %}

{% block titulo %}{{ curso.titulo|safe }}{% endblock %}

{% block banner %}
    <div class="banner-sobremi">
        <h1>{{ curso.titulo|safe }}</h1>
        <p>{{ curso.descripcion|truncatewords:25|safe }}</p>
    </div>
{% endblock banner %}

{% block cuerpo %}
<div class="container mt-4">
    <h2>{{ curso.titulo|safe }}</h2>
    <p>{{ curso.descripcion|safe }}</p>

    <h3>Clases</h3>
    <!-- Buscador de clases -->
    <form method="get" action="" class="mb-4 container_busqueda">
        <div class="input-group">
            <input type="text" name="q" class="form-control input_busqueda" placeholder="Buscar clase por título..." value="{{ query }}">
            <button class="btn botones_negros" type="submit">Buscar</button>
        </div>
    </form>
    <div class="row">
        {% for clase in clases %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm  tamano_card_detalle_curso">
                {% if clase.imagen %}
                <img src="{{ clase.imagen.url }}" class="card-img-top" alt="{{ clase.titulo|safe }}">
                {% endif %}
                <div class="card-body  ">
                    <h5 class="card-title">{{ clase.titulo|safe }}</h5>
                    <p class="card-text">{{ clase.descripcion|safe|truncatewords:20}}</p>
                    <div class="div_botones_detalle_curso">
                        <a href="{% url 'clase_detalle' clase.id %}" class="btn btn-primary detalle_curso_btn">Ver más</a>
                        <!-- Botones administrativos -->
                        {% if user.is_authenticated and user.is_superuser %}
                        <a href="{% url 'EditarClase' clase.pk %}" class="btn btn-warning detalle_curso_btn">Editar</a>
                        <a href="{% url 'EliminarClase' clase.pk %}" class="btn btn-danger  detalle_curso_btn ">Eliminar</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        {% empty %}
            <p>No hay clases para este curso.</p>
        {% endfor %}
    </div>
    <a href="{% url 'Cursos' %}">← Volver a cursos</a>
</div>
{% endblock %}
