{% extends 'core/base.html' %}

{% block titulo %}Cursos{% endblock %}
{% block banner %}
    <div class="banner-sobremi">
        <h1>Cursos</h1>
        <p>Explora los cursos disponibles con sus clases y recursos</p>
    </div>
{% endblock banner %}
{% block cuerpo %}
<div class="background">
    <div class="container mt-3">
        <h2>Cursos disponibles</h2>
        <!-- Formulario de búsqueda -->
        <form method="get" action="" class="mb-4 container_busqueda">
            <div class="input-group">
                <input type="text" name="q" class="form-control input_busqueda" placeholder="Buscar por nombre..." value="{{ query }}">
                <button class="btn botones_negros" type="submit">Buscar</button>
            </div>
        </form>

        <!-- Listado de cursos -->
        <div class="row">
            {% for curso in cursos %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm tamano_card_curso">
                    {% if curso.imagen %}
                    <img src="{{ curso.imagen.url }}" class="card-img-top curso_img" alt="{{ curso.titulo|safe }}">
                    {% endif %}
                    <div class="card-body texto_card_curso">
                        <h5 class="card-title">{{ curso.titulo|safe }}</h5>
                        <p class="card-text card-text ">{{ curso.descripcion|striptags|truncatewords:20|safe }}</p>
                        <div class="div_botones_curso">
                            <a href="{% url 'CursoDetalle' curso.id %}" class="btn btn-primary curso_btn">Ver clases</a>
                            {% if user.is_authenticated and user.is_superuser %}
                            <a href="{% url 'EditarCurso' curso.id %}" class="btn btn-warning  curso_btn">Editar Curso</a>
                            <a href="{% url 'EliminarCurso' curso.id %}" class="btn btn-danger curso_btn">Eliminar Curso</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            {% empty %}
                <p>No hay cursos disponibles.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
