{% extends 'core/base.html' %}

{% block titulo %}Eliminar Curso{% endblock %}

{% block cuerpo %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
        <h2 class="text-center mb-4">¿Eliminar el curso?</h2>
        <p class="text-center">Estás por eliminar el curso <strong>"{{ object.titulo }}"</strong>.</p>
        <form method="post">
            {% csrf_token %}
            <div class="botones-acciones">
                <button type="submit" class="btn-eliminar">Eliminar</button>
                <a href="{% url 'Cursos' %}" class="btn-cancelar">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock cuerpo %}
