{% extends './base.html' %}

{% block titulo %}
    Sobre mí
{% endblock titulo %}

{% block cuerpo %}
    <div class="container mt-5">
        <h1>Sobre mí</h1>
        <hr>
        <p>Este es un proyecto personal para practicar y documentar conocimientos en Python y Django.</p>
        <p>La idea es que este cuaderno crezca con ejemplos útiles, conceptos importantes y buenas prácticas de desarrollo web.</p>
        <img class="foto_sobre_mi" src="../../static/img/pipa.jpeg" alt="foto perfil sobre mi">
        <hr>
        <p>Creado por: Sergio Murua</p>
    </div>
{% endblock cuerpo %}
