/* INDEX HTML */

.cuerpo {
  padding: 20px;
  background-color: #fff4b6;
}

.banner{
  width: 100vw;
  max-height: 5vw;
}

/* SOBRE MI HTML */

.foto_sobre_mi{
  height: 20vw;
  border-radius: 5%; 
}
.input, .textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}
