/* INDEX HTML */

.cuerpo {
  padding: 20px;
  background-color: #fff4b6;
}

.banner{
  width: 100vw;
  max-height: 5vw;
}

/* SOBRE MI HTML */

.foto_sobre_mi{
  height: 20vw;
  border-radius: 5%;
  
}